@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1.3rem;
}

.section {
    background: #23424a;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.intro {
    width: 60%;
    padding: 15vh 20px;
}

.intro h1 {
    color: white;
    margin-bottom: 30px;
    font-size: 3rem;
}

.intro p {
    color: white;
    margin-bottom: 30px;
}

.intro button {
    background: #38cfd9;
    outline: none;
    border: none;
    border-radius: 100px;
    width: 230px;
    height: 63px;
    color: #23424a;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}

.flex-1 .row {
    margin: 0 auto;
    padding: 3em 0;
    width: 80%;
    max-width: 900px;
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
}

.flex-1 .col {
}

.col > * {
    text-align: center;
}

.col h1 {
    margin-bottom: 10px;
    color: #87629a;
    font-size: 2.3rem;
}

.flex-2 {
    background: #136c72;
}

.flex-2 .col {
    width: 100%
}

.flex-2 .row {
    margin: 0 auto;
    padding: 3em 0;
    width: 80%;
    max-width: 900px;
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
}

.flex-2 h1 {
    color: white;
}

.flex-2 p {
    color: white;
}



